/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#define HOST_OS 1

#include "../helper.h"
// #include "../international_characters/config.dtsi"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// Layers

#define DEFAULT 0
#define LAYER1 1 //Symbol
#define LAYER2 2 //Navigation
#define LAYER3 3 //Function

&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <200>;
};

// inspired by https://lo.calho.st/posts/practical-34-key-layout/
/ {
    combos {
        compatible = "zmk,combos";

        combo_ralt {
            timeout-ms = <50>;
            key-positions = <17 16>;
            bindings = <&kp ESCAPE>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q              &kp W         &kp E         &kp R               &kp T                   &kp Y             &kp U       &kp I         &kp O         &kp P
&mt LEFT_SHIFT A   &mt LCTRL S   &mt LGUI D    &mt LALT F          &kp G                   &kp H             &mt RALT J  &mt RGUI K    &mt RCTRL L   &mt LEFT_SHIFT SEMI
&mt LCTRL Z        &mt LGUI X    &mt LALT C    &kp V               &kp B                   &kp N             &kp M       &kp COMMA     &kp PERIOD    &kp SLASH
                                               &kp LEFT_BRACKET    &lt LAYER1 BACKSPACE    &lt LAYER2 SPACE  &kp ENTER
            >;
        };

        layer_1 {
            bindings = <
&kp NUMBER_1                 &kp NUMBER_2        &kp NUMBER_3     &kp NUMBER_4           &kp NUMBER_5    &kp NUMBER_6      &kp NUMBER_7         &kp NUMBER_8      &kp NUMBER_9                 &kp NUMBER_0
&mt LEFT_SHIFT EXCLAMATION   &mt LCTRL AT_SIGN   &mt LGUI HASH    &mt LALT DOLLAR        &kp PERCENT     &kp CARET         &mt RALT AMPERSAND   &mt RGUI ASTRK    &mt RCTRL LEFT_PARENTHESIS   &mt LEFT_SHIFT RIGHT_PARENTHESIS
&kp F1                       &kp F2              &kp F3           &kp F4                 &kp F5          &kp GRAVE         &kp APOSTROPHE       &kp MINUS         &kp EQUAL                    &kp BACKSLASH
                                                                  &kp RIGHT_BRACKET      &trans          &lt LAYER3 TAB    &kp DELETE
            >;
        };

        layer_2 {
            bindings = <
&kp ESCAPE  &kp PG_UP        &kp UP_ARROW     &kp PAGE_DOWN     &kp C_VOLUME_UP        &trans    &trans      &kp INSERT   &trans      &kp PRINTSCREEN
&trans      &kp LEFT_ARROW   &kp DOWN_ARROW   &kp RIGHT_ARROW   &kp C_VOLUME_DOWN      &trans    &kp RALT    &kp RGUI     &kp RCTRL   &kp LEFT_SHIFT
&trans      &kp HOME         &kp ESCAPE       &kp END           &kp C_MUTE             &trans    &trans      &trans       &trans      &trans
                                              &trans            &lt LAYER3 TAB         &trans    &kp DELETE
            >;
        };

        layer_3 {
            bindings = <
&kp F1    &kp F2   &kp F3   &kp F4   &kp F5   &kp F6   &kp F7   &kp F8   &kp F9   &kp F10
&kp F11   &kp F12  &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans
&trans    &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans
                            &trans   &trans   &trans   &trans       
            >;
        };
    };
};
